#root {
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 40%;
	padding: 30px;
}

.input {
	margin: 10px 0;
	padding: 10px;
	border-radius: 20px;
	border: 0;
	box-shadow: 4px 5px 6px 3px rgba(180, 177, 180, 0.356);
}

.input:hover {
	transition: 0.5s;
	box-shadow: 4px 5px 6px 3px rgba(64, 162, 211, 0.514);
}

.input-text {
	width: 100%;
}
.input-select {
	width: 40%;
	color: black;
}

.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

@media only screen and (max-width: 1620px) {
	/* For mobile phones: */
	.App {
		width: 60%;
	}
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	.wrapper {
		flex-direction: column;
		justify-content: center;
	}
	.input-select {
		width: 100%;
	}
	.App {
		width: 100%;
	}
}
